<div class="slider-container">
  <div class="slider-wrapper" [style.transform]="getTransform()">
    <div
      class="slider-item"
      *ngFor="let slide of slides; let i = index"
      [class.active]="i === currentIndex"
    >
      <img [src]="slide.imageUrl" alt="Slide Image" />
      <div class="caption">
        <h3>{{ slide.title }}</h3>
        <p>{{ slide.description }}</p>
      </div>
    </div>
  </div>
  <button class="prev" (click)="prevSlide()">&#10094;</button>
  <button class="next" (click)="nextSlide()">&#10095;</button>
</div>
  