<h2 style="text-align: center;"><u><b>Gellary</b></u></h2>
<div class="container" 
     (mouseenter)="onMouseEnter()" 
     (mouseleave)="onMouseLeave()"
     (touchstart)="onTouchStart()" 
     (touchend)="onTouchEnd()">
  <div class="slide">
    <div
      *ngFor="let item of items; let i = index"
      class="item"
      [ngStyle]="{ 'background-image': 'url(' + item.image + ')' }"
      [class.active]="i === activeIndex">
    </div>
  </div>

  <div class="button">
    <button class="prev" (click)="prevSlide()">
      <i class="fa-solid fa-arrow-left"></i>
    </button>
    <button class="next" (click)="nextSlide()">
      <i class="fa-solid fa-arrow-right"></i>
    </button>
  </div>
</div>
