*{background-color: #E1EEE7;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='111' height='111' viewBox='0 0 200 200'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='100' y1='33' x2='100' y2='-3'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='100' y1='135' x2='100' y2='97'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23bac7c0' fill-opacity='0.05'%3E%3Crect x='100' width='100' height='100'/%3E%3Crect y='100' width='100' height='100'/%3E%3C/g%3E%3Cg fill-opacity='0.05'%3E%3Cpolygon fill='url(%23a)' points='100 30 0 0 200 0'/%3E%3Cpolygon fill='url(%23b)' points='100 100 0 130 0 100 200 100 200 130'/%3E%3C/g%3E%3C/svg%3E");
  }

  .about-us {
  font-family: Arial, sans-serif;
}

.hero-section {
  color: rgb(8, 4, 65);
  text-align: center;
  display: flex;
  padding-left: 8%;
 padding-top: 10px;
}

.hero-section h1 {
  font-size: 3rem;
}

.hero-section p {
  font-size: 1.25rem;
  margin-top: 10px;
}
.hero-section img{padding-left: 30px;
padding-top: 20px;}
.container {
  padding: 50px 15px;
}

h2, h3 {
  color: #333;
}

p {
  font-size: 1.1rem;
  color: #666;
}

.img-fluid {
  width: 100%;
  height: auto;
  border-radius: 10px;
}


/* Team Card Design */
.team-card {
  text-align: center;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
  background-color: aliceblue;
  margin: 5px;
}

.team-card:hover {
  transform: translateY(-10px);
}

.team-photo {
  width: 200px;
  height: 250px;
  border-radius: 10%;
  margin-bottom: 10px;
}

/* Call to Action Button */
.cta-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.cta-button:hover {
  background-color: #0056b3;
}

/* Animations */
.animate-section {
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.6s ease;
}

.animate-section.active {
  opacity: 1;
  transform: translateY(0);
}
