<header class="header">
    <div class="logo">
      <img style="padding-left: 10px;" src="assets/schoollogo.png" alt="School Logo">
    </div>
      <div style="text-align: center; color: blue; font-size: 30px;font-weight: 1000; "><P style="font-family: cursive; line-height: 28px;">SHREE RAJESHWAR NIDHI SECONDARY SCHOOL</P>
          <p style="font-family: cursive; font-size: 22px;">Nagarain-2 (Dhanusha) Nepal<br>ESTD:2005 BS</p>
      </div>
    <div class="logo">
        <img style="height: 80px;padding-right: 8px;" src="assets/flag.png"  alt="Nepal Govt Logo">
      </div>
  </header>

  <nav class="navbar">
    <a href="#">About Us</a>
    <a href="#">Downloads</a>
    <a href="#">Examination</a>
    <a href="#">Contact Us</a>
    <a href="#">Record Verification (upto 2073)</a>
    <a href="#">Record Verification (from 2074)</a>
    <a href="#">Result</a>
  </nav>
  
